<!DOCTYPE html>
<html>
<head>
    <title>Main page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 20px;
        }
        h1 {
            color: #4CAF50;
        }
        p {
            margin-top: 20px;
        }
        a {
            color: #008CBA;
            text-decoration: none;
        }
        a:hover {
            color: #005f6b;
        }
    </style>
</head>
<body>
<h1>Welcome to our service. There are you could be our partner.</h1>
<p><a href="/form">Fill the form for cooperation</a></p>
<h2>For checking status</h2>
<p><a href="/emails/access-keyword">Applications that accepted</a></p>
<p><a href="/emails/decline-keyword">Applications that declined</a></p>
</body>
</html>
